<h1>This is a file-only CMS *)</h1>
<ul>
<li>Using Razor for easy layouts, sections, partial page contents and helpers</li>
<li>Traversing the file system on App Start to create navigation tree</li>
<li>Conventions:
 <ul>
  <li>.cshtml files with capital first letter will show in navigation</li>
  <li>folders with capital first letter will show in navigation</li>
</ul>
</li>
</ul>
<p>This sample runs from github (free account) https://github.com/joeriks/NavigationNode and autodeploy to AppHarbor (free account 1 instance) http://navigationnode.apphb.com/</p>
<p>Which basically means I can edit the razor files on GitHub, and on save they are committed and automatically deployed to the site, which is pretty cool.</p>
<p>*) Just an experiment really, hold your horses... :-p</p>
