<p>This is a file-only CMS</p>
<ul>
<li>Using Razor for easy layouts, sections, partial page contents and helpers</li>
<li>Traversing the file system on App Start to create navigation tree</li>
<li>Conventions:
 <ul>
  <li>.cshtml files with capital first letter will show in navigation</li>
  <li>folders with capital first letter will show in navigation</li>
</ul>
</li>
</ul>
<p>This sample runs from github and autodeploy to AppHarbor</p>
<p>Both free accounts</p>
