<h1>This is a file-only CMS *)</h1>
<ul>
<li>Using Razor for easy layouts, sections, partial page contents and helpers</li>
<li>Traversing the file system on App Start to create navigation tree</li>
<li>Conventions:
 <ul>
  <li>.cshtml files with capital first letter will show in navigation</li>
  <li>folders with capital first letter will show in navigation</li>
</ul>
</li>
</ul>
<p>This sample runs from github (free account) and autodeploy to AppHarbor (free account 1 instance)</p>
<p>*) Just an experiment really, hold your horses... :-p</p>
